*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.buslist-sec{
    margin-top:10px;
    margin-bottom: 10px;
}


.buslist-cond{
    display: flex;
}


.list-row{
    display: flex;
    width:100%;
    justify-content: space-between;
     padding-top: 20px;
    padding-bottom: 4px;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 20px;
    padding-right: 4px;
    border:1px solid #eee;
    margin-bottom: 20px;
}

.list-row:hover{
    box-shadow: 0 16px 30px 1px rgba(0,0,0,.1);
    transition: 1s;
}




.img-logos img{
    width: 5rem;
    height: 2.25rem;
}


.bus-list h4{
    color: #1d1d3d;
    font-weight:600;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat' !important;
}


.bus-list h6{
    color: #7e7e8c;
    font-family: 'Montserrat' !important;
    font-size: 13px;
}


.seat{
   font-size: 13px; 
    font-weight: 400;
    width: 73px;
    height: 40px;
    text-decoration: none;
    border: none;
    margin-top:70px;
    text-align: center;
    background-color: #d84e55;
    color: #fff;
}




/* 
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    padding: -6px; */
    /* font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
} */


.buslist-col1{
    width: 25%;
    line-height: 2.5;
    margin-left: 25px;
}


.buslist-col2{
    width:90%;
}


.timing-detail{
     padding-left:30px;
}


.bus-list{
    width:20%;
}

.timing-detail{
    width:20%;
}

#facility-icon{
    font-size:18px;
    margin-right:6px;
    margin-top:9px;
}


.filter h5 {
    
    font-size: 12px;
    color: #3e3e52;
    font-weight: 700;
    font-family: 'Montserrat' !important;
}


.brake{
    border: 1px solid #eee;
    width:87%;
    margin-top:10px;
}


.filter h4{   
    font-size: 12px;
    align-items: center;
    gap: 2%;
    padding-top: 6px;
    display: flex;
    color: #c2c2cf;
    font-family: 'Montserrat' !important;
}


.filter h4:hover{
    color: #d84e55;
    font-family: 'Montserrat' !important;
}


.depa {
    display: flex;  
    align-items: center;
    color: #b3abab;
   
}

.bus-detils {
    color: black;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.9;
    font-family: 'Montserrat' !important;
}


.bus-detils:hover{
    color: #d84e55;
}


.bus-detil{
    font-size:14px;
    font-family: 'Montserrat' !important;
}


.departure-time h5{
    font-size: 12px;
    color: #3e3e52;
    padding-top: 10px;
    /* margin-top:20px; */
    
    font-weight: 700;
    font-family: 'Montserrat' !important;
}


.bus-type h5{
    font-size: 13px;
    color: #4c4c5a;
    padding-top: 10px;
    font-weight: 600;
    /* margin-top:20px; */
    font-family: 'Montserrat' !important;

}



.bus-famous{
    color: black;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat' !important;
}

.bus-type{
    color: black;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat' !important;
}

.bus-type:hover{
    color: #d84e55;
}

.amenities h5{
    font-size: 12px;
    color: #3e3e52;
    /* padding-top: 10px; */
    margin-top:20px;
    font-weight: 700;
    font-family: 'Montserrat' !important;
}

.bus-famous{
      
    color: #3e3e52;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat' !important;
}


#amen{
    font-size:22px;
    color: #3e3e52;
}

.bus-icon{
    align-items: center;
    display: flex;
}

.reach-value{
    display: flex;
    background-color: #38b87c;
    color: white;
    height: 25px;
    padding: 2px 10px 10px 10px;
    border: radius;
    border-radius: 5px;
}

#star{
    font-size: 18px;
   
}

.started{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 10px
}

.ended{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 10px
}

.area{
    color: #b3abab;
}


.end-area{
    color: #b3abab;
}


.fount-list{
    display: flex;
    
}


.short{
    font-size: 16px;
    margin-left: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #3e3e52;
}


.fount-list{
    display: flex;
    
}

.time1{
    margin-right:20px;
    color: #b3abab;
}

span.sort {
    margin-left: 143px;
    margin-right: 41px;
    color: black;
    font-weight:600;
}


span.time1 {
    margin-right: 142px;
    color: #b3abab;
}


span.time2 {
    margin-right: 37px;
    margin-left: 37px;
    color: #b3abab;
}


span.time3 {
    margin-left: 59px;
    margin-right: 37px;
    color: #b3abab;
}


span.time4 {
    margin-left: 51px;
    color: #b3abab;
}

.bus-icon{
    border:1px solid #e2e1e1;
    border-radius: 9px;
    margin-top: 10px;
    padding:0px 5px 0px 4px;
    /* width:80%; */
    margin-bottom: 5px;
    max-width: fit-content;
    cursor: pointer;

}

.double-seat {
    background: aliceblue;
    width: 20%;
    border: 1px solid #bdaaaa;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}
.main-div {
    background: #fcfbfb;
    border: 1px solid;
    height: 60vh;
    flex-wrap: wrap;
    display: flex;
    margin-top: 60px;
    
}
.single-seat{
    width: 20%;
    align-self: flex-end;
    border: 1px solid #8d4343;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: aliceblue;
    margin-top: 60px;
}

.seat-active{
    background-color: red;
}
.box-div {
    display: flex;
    align-items: center;
    gap: 50px;
}


.hidded{
    display:none
}




@media(min-width:320px)
{

    .buslist-col1{
     display:none;
    }
    
    .buslist-col2{
        width:100%;
    }

    .list-row{
        width:96%;
        margin-left: 6px;
        padding-top:4px;
        padding-left:2px;
    }
    
    .img-logos img {
        width: 100%;
       
    }

     .fount-list{
         display:none;
     }

     .timing-detail {
        padding-left: 10px;
    }

     .img-logos img{
        width:80%;
    }

    .started {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 8px;
        padding-bottom: 0px;
        margin-top: 20px;
    }

    .area {
        color: #b3abab;
        font-size: 12px;
    }

    

    .bus-list h4{
        color: #1d1d3d;
        font-weight:800;
        font-size: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: 'Montserrat' !important;
    }
    
    
    .bus-list h6{
        color: #7e7e8c;
        font-family: 'Montserrat' !important;
        font-size: 9px;

    }

    .bus-icons{
      display: flex;
      flex-wrap: nowrap;
      padding:0px;
      font-size:8px;
}

.reach-time {
    padding-left: 20px;
}
  
.ended {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 7px;
    padding-bottom: 0px;
    margin-top: 20px;
}

.reach-value {
    display: flex;
    background-color: #38b87c;
    color: white;
    height: 25px;
    padding: 3px 3px 2px 2px;
    border-radius: 5px;
    margin-top: 40px;
    font-size: 13px;
    margin-left: 8px;
}

.end-area {
    color: #b3abab;
    font-size: 13px;
}

.amount {
    width: 0%;
    margin-top: 58px;
    margin-left: 7px;
    font-weight: 700;
    font-size: 14px;
}

.seat {
    font-size: 10px;
    font-weight: 700;
    width: 100px;
    height: 29px;
    text-decoration: none;
    border: none;
    margin-top: 100px;
    text-align: center;
    background-color: #d84e55;
    color: #fff;
}

}


@media(min-width:768px)
{
    .buslist-col1{
        display:block;
        width: 25%;
        line-height: 2.5;
        margin-left: 25px;
       }
       
       .buslist-col2{
           width:90%;
       }

}

@media(min-width:1028px)
{

    .buslist-col1{
        display:block;
        width: 25%;
        line-height: 2.5;
        margin-left: 25px;
       }
       
       .buslist-col2{
           width:90%;
       }


       .img-logos img {
        width: 80%;
        height:3rem;
       
    }

    .seat {
        font-size: 13px;
        font-weight: 700;
        width: 100px;
        height: 29px;
        text-decoration: none;
        border: none;
        margin-top: 100px;
        text-align: center;
        background-color: #d84e55;
        color: #fff;
        border-radius: 3px;
    }

}


